
.modal-body{
    background-color:  mediumslateblue;  
}
thead{
  background-color: orangered;
}

.modal-header{
  background-color: yellowgreen;
}

 .title-btn{
    background-color: yellowgreen;
    display: flex;
    width: 100%;
    text-align: center;
    height: 50px;
}

.container-btn{
    margin-top: 10%;
}

.img-btn{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}


h6 { 
	position: relative; 
	float: right;
	background: yellowgreen;
	color: #fff;
	font-size: 2.5em;
  padding-top: 8px;
  padding-left: 30px;
}


h6 span {
    position:absolute;
    right:0;
    width:0;
    background: yellowgreen;
    border-left: 1px solid rgb(240, 236, 236);
    animation: escribir 5s steps(30) infinite alternate;
}

.img-btn2{
    width: 100%;
    margin-left: 0px;
}

option {
    text-align: center
}




@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --color-primary: mediumslateblue;
  --color-secondary: black;
  --color-tertiary: hotpink;
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-family: "Roboto", sans-serif;
  --font-size: 1.25rem;
}

* {
  box-sizing: border-box;
}


a {
  color: var(--color-primary);
}
a:focus {
  color: var(--color-secondary);
}

h2 {
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.5);
}



.form:before {
  top: 0;
  right: calc(100% - 1px);
  transform-origin: 100% 100%;
  transform: skewY(-35deg) scaleX(-1);
  z-index: -1;
}
.form:after {
  top: 0;
  left: calc(100% - 1px);
  transform-origin: 0 0;
  transform: skewY(-35deg) scaleX(-1);
  z-index: 2;
}
.form:hover, .form:focus-within {
  transform: scale(1.0001);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
.form:hover:before, .form:hover:after, .form:focus-within:before, .form:focus-within:after {
  background-color: white;
  transform: skewY(0);
}

.form-inner {
  padding: var(--space-xl);
  background-color: white;
  z-index: 1;
}
.form-inner > * + * {
  margin-top: var(--space-xl);
}

.input-wrapper:focus-within label {
  color: var(--color-secondary);
}
.input-wrapper:focus-within .icon {
  background-color: var(--color-secondary);
}
.input-wrapper:focus-within input {
  border-color: var(--color-secondary);
}
.input-wrapper + .input-wrapper {
  margin-top: var(--space-l);
}

.input-group {
  position: relative;
}
.input-group input {
  border-radius: var(--base-border-radius);
  padding-left: calc(var(--space-s) + 60px);
  height: auto;
  border-width: 3px;
}

#txtcultivociclo_revisado, #txtranchociclo_revisado, #txtstatusciclo_producto, #txtcomentariociclo, #txtcultivo_revisado, #txtrancho_revisado, #txtmetodo_aplicacion, #txtstatus_producto, #txtcultivoestacion_revisado, #txtranchoestacion_revisado, #txtvariedadestacion{
  height: 50px;
  border-width: 3px;
}

label {
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--color-primary);
}

.icon {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  padding: var(--space-m);
  background-color: var(--color-primary);
}
.icon svg {
  width: 1.25em;
  height: 1.25em;
  fill: white;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: transform var(--duration) var(--ease);
}

input, select, textarea {
  flex: 1 1 0;
  width: 100%;
  outline: none;
  padding: var(--space-m);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color-secondary);
}

input:focus {
  color: var(--color-primary);
}



.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-group > * + * {
  margin-left: var(--space-s);
}

.btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  padding: var(--space-m) var(--space-l);
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
}

.btn--primary {
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
.btn--primary:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn--text {
  font-size: calc(var(--font-size) / 1.5);
  padding: 0;
}

.inf-flecha {
  width: 17rem;
  margin-left: -15px;
}

p,b{
  text-align: left;
  color: white;
}

.img-info{
  width: 5rem;
}

.img-empleado{
  width: 100%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: yellowgreen;
  color: white;
  width: 100%;
}

i{
  text-align: justify;
}

.contenedor {
	margin: auto;
	display: table;
}



@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

#table_suelo, #table_ciclo, #table_estacion, #detalle_suelo, #detalle_ciclo, #detalle_estacion{
  display: none;
}

#img-fondo{
  max-width: 350px;
}

.dropdown{
  margin-left: auto;
}

#btn-inicio{
  display: none;
}

.btns-home{
  display: block;
}

#btn-suelo, #btn-ciclo, #btn-estacion{
  width: 80%;
  height: 80px;
}

#menu-suelos, #menu-ciclos, #menu-estaciones, #menu-suelos-reportes, #menu-ciclos-reportes, #menu-estaciones-reportes{
  width: 21rem;
  height: 60px;
}

#fecha-consulta-suelo{
  display: none;
}

#home-strong{
  font-size: 17px;
}

#strong-td{
  color: black;
}
h5{
  text-align: center;
}

#nombre{
  margin-top: 5px;
  margin-left: auto;
  color: #fff;
}